.canvas {
    border: none;
    image-rendering: pixelated;
    max-width: 100%;
    height: auto;
}

.placeholder {
    aspect-ratio: 160/144;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    height: auto;
    position: static;
    width: 100%;
}
