.section {
    background: color-mix(in srgb, var(--c-modalcopy) 5%, transparent);
    padding: 1em;
}

.presetContainer {
    display: grid;
    gap: 0.4em;
    grid-template-columns: auto auto;
    @media (min-width: 700px) {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    @media (min-width: 900px) {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }
    @media (min-width: 1280px) {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
    }
}

.presetSwatch {
    margin: 0 auto 0.5em;
}

.presetLabel {
    display: block;
    margin: 4px;
    cursor: pointer;
    text-align: center;
}

.presetRadioInput {
    display: none;
}

.presetRandomButton {
    margin: 1em auto 0;
}

.custom {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    padding: 0.5em;
}

.mobileColorSwatches {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.customColorRow {
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid var(--c-gray);
    box-shadow: var(--shadow);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 0.5em;
    padding: 1em;
    @media (min-width: 1280px) {
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }
}

.customColorRow input[type='range'] {
    cursor: pointer;
    flex: 1;
}

.rgbStepperContainer {
    display: flex;
    justify-content: space-between;
}

.rgbValues {
    display: flex;
    gap: 0.5em;
    min-width: 200px;
    line-height: 2.5em;
}

.activeRow {
    @media (min-width: 1280px) {
        background: rgba(255, 255, 255, 0.1);
        border: 2px solid var(--c-white);
    }
}

.stepper {
    display: flex;
    gap: 4px;
}

.stepper button {
    padding: 0 0 0.4em;
    height: 2.5em;
    width: 2em;
}

.quickPicker {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-top: 0.5em;
    @media (min-width: 1280px) {
        grid-template-columns: repeat(20, 1fr);
    }
}
