.settings label {
    margin: 0 0 1em;
}

.sliderValue {
    display: inline-block;
    text-align: right;
    width: 3em;
}

.slider {
    vertical-align: middle;
    margin-left: 0;
}

.settings h3 {
    margin: 2.5em 0 1.5em;
}
