:root {
    --c-black: #000;
    --c-darkestgray: #151515;
    --c-darkgray: #4b4b4b;
    --c-gray: #aaa;
    --c-lightgray: #d6d6d6;
    --c-white: #fff;
    --c-green: #169e78;
    --c-yellow: #f4c901;
    --c-red: #c20000;
    --c-blue: #2c51ac;
    --f-regular: 'DogicaPixel', sans-serif;
    --f-bold: 'DogicaPixelBold', sans-serif;
}

@font-face {
    font-family: 'DogicaPixel';
    src: url('../assets/fonts/dogicapixel.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DogicaPixelBold';
    src: url('../assets/fonts/dogicapixelbold.woff2') format('woff2');
    font-weight: 800;
    font-style: bold;
    font-display: swap;
}

body {
    background-color: var(--c-darkestgray);
    color: var(--c-white);
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding: 40px 10px;
    font-family: var(--f-regular);
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
}

div {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: var(--f-bold);
}

select {
    padding: 2px;
    width: 100%;
}

button {
    cursor: pointer;
}

.colorgreen {
    background-color: var(--c-green);
}

.coloryellow {
    background-color: var(--c-yellow);
    color: var(--c-black);
}

.colorred {
    background-color: var(--c-red);
}

.colorblue {
    background-color: var(--c-blue);
}

.font-bold {
    font-family: var(--f-bold);
}

.input,
.button {
    background-color: transparent;
    border: 2px solid var(--c-white);
    color: var(--c-black);
    box-sizing: border-box;
    cursor: pointer;
    font-size: 12px;
    font-family: var(--f-regular);
    height: 4em;
    padding: 0.8em;
    width: 100%;
}

.button,
.input {
    background-color: var(--c-gray);
    border-style: solid;
    border-width: 4px;
    border-color: var(--c-lightgray) var(--c-black) var(--c-black) var(--c-lightgray);
}

.button:hover,
.input:hover {
    background-color: var(--c-lightgray);
    border-color: var(--c-white) var(--c-black) var(--c-black) var(--c-white);
}

.button:active,
.input:active {
    border-color: var(--c-black) var(--c-lightgray) var(--c-lightgray) var(--c-black);
}

.img-button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.img-button:hover,
.img-button:active {
    background: none;
}

.img-button img {
    width: 35px;
}

label {
    cursor: pointer;
    display: block;
}

.photo-grid {
    padding: 0 0 200px;
    display: grid;
    gap: 10px;
}

.main-message {
    color: var(--c-darkgray);
    left: 0;
    font-family: var(--f-bold);
    position: fixed;
    text-align: center;
    top: 25%;
    width: 100%;
}

.closeButton {
    background: var(--c-black);
    display: block;
    border: none;
    color: var(--c-white);
    font-family: var(--f-regular);
    font-size: 2em;
    height: 1.4em;
    line-height: 1;
    width: 1.4em;
}

@media (min-width: 1280px) {
    body {
        padding: 40px 20px;
    }

    .photo-grid {
        padding: 0 0 40px;
        gap: 20px;
    }

    .main-message {
        top: 45%;
    }
}
