:root {
    --c-black: #000;
    --c-darkestgray: #151515;
    --c-darkgray: #4b4b4b;
    --c-gray: #aaa;
    --c-lightgray: #d6d6d6;
    --c-white: #fff;
    --c-green: #169e78;
}

body {
    background-color: var(--c-darkestgray);
    color: var(--c-white);
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 40px 10px;
}

input,
button,
select {
    background-color: transparent;
    border: 2px solid var(--c-white);
    box-sizing: border-box;
    color: var(--c-white);
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    padding: 13px;
    width: 100%;
}

button,
input {
    background-color: var(--c-gray);
    color: var(--c-black);
    border-style: solid;
    border-width: 4px;
    border-color: var(--c-lightgray) var(--c-black) var(--c-black) var(--c-lightgray);
}

button:hover,
input:hover {
    background-color: var(--c-lightgray);
    border-color: var(--c-white) var(--c-black) var(--c-black) var(--c-white);
}

button:active,
input:active {
    border-color: var(--c-black) var(--c-lightgray) var(--c-lightgray) var(--c-black);
}

.img-button {
    background: none;
    border: none;
    margin: 0;
    padding: 4px;
}

.img-button:hover,
.img-button:active {
    background: none;
}

.img-button img {
    width: 35px;
}

label {
    cursor: pointer;
    display: block;
}

option {
    background-color: var(--c-black);
    color: var(--c-white);
}

select {
    height: 30px;
    padding: 0 10px;
}

.photo-grid {
    padding: 0 0 250px;
    display: grid;
    gap: 10px;
}

.main-message {
    color: var(--c-darkgray);
    left: 0;
    position: fixed;
    text-align: center;
    top: 45%;
    width: 100%;
}

div {
    box-sizing: border-box;
}

@media (min-width: 1280px) {
    body {
        padding: 40px 20px;
    }

    .photo-grid {
        padding: 0 0 70px;
        gap: 20px;
    }
}
