:root {
    /* main ui */
    --c-copy: #171717;
    --c-messagecopy: #4b4b4b;
    --c-background: #cfcfcf;
    --c-button: #aaa;
    --c-canvasoutlinelight: color-mix(in srgb, var(--c-background) 60%, #fff);
    --c-canvasoutlinedark: color-mix(in srgb, var(--c-background) 80%, #000);

    /* modal */
    --c-modal: #aaa;
    --c-modalcopy: var(--c-copy);

    /* toobar colors */
    --c-green: #169e78;
    --c-yellow: #f4c901;
    --c-red: #c20000;
    --c-blue: #2c51ac;

    /* fonts */
    --f-regular: 'DogicaPixel', sans-serif;
    --f-bold: 'DogicaPixelBold', sans-serif;

    /* Other */
    --c-white: #fff;
    --c-black: #000;
    --c-gray: #333;

    /* buttons */
    --c-buttonoutline: color-mix(in srgb, var(--c-button) 10%, #000);

    /* input */
    --c-inputoutline: #171717;
    --c-inputback: #fff;
    --c-inputcolor: #171717;
}

body[data-theme='dark'] {
    --c-background: #1f1f1f;
    --c-canvasoutlinelight: color-mix(in srgb, var(--c-background) 90%, #fff);
    --c-canvasoutlinedark: color-mix(in srgb, var(--c-background) 50%, #000);
    --c-modal: #141414;
    --c-modalcopy: #858585;
    --c-inputback: #2b2b2b;
    --c-inputoutline: #8c8c8c;
    --c-inputcolor: #cacaca;
}

@font-face {
    font-family: 'DogicaPixel';
    src: url('../assets/fonts/dogicapixel.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DogicaPixelBold';
    src: url('../assets/fonts/dogicapixelbold.woff2') format('woff2');
    font-weight: 800;
    font-style: bold;
    font-display: swap;
}

html,
body {
    scrollbar-gutter: stable !important;
}

body {
    background-color: var(--c-background);
    color: var(--c-copy);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
    padding: 20px 10px;
    font-family: var(--f-regular);
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
}

div {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: var(--f-bold);
}

select {
    background: var(--c-inputback);
    border: 2px solid var(--c-inputoutline);
    color: var(--c-inputcolor);
    font-size: inherit;
    font-family: var(--f-regular);
    padding: 0.5em;
    width: 100%;
}

button {
    cursor: pointer;
    font-family: 'DogicaPixel';
    padding: 0;
}

.button {
    background-color: var(--c-button);
    border: none;
    border-top: 4px solid var(--c-buttonoutline);
    border-bottom: 4px solid var(--c-buttonoutline);
    box-sizing: border-box;
    box-shadow: inset 0 -4px 0 0 color-mix(in srgb, var(--c-button) 50%, #000);
    color: var(--c-copy);
    display: block;
    font-size: inherit;
    font-family: var(--f-regular);
    height: 3.5em;
    padding: 0.8em 0.8em 1.5em 0.8em;
    position: relative;
    width: 100%;
}

.button:after {
    content: '';
    position: absolute;
    top: 0;
    left: -4px;
    width: 100%;
    height: 100%;
    border-right: 4px solid var(--c-buttonoutline);
    border-left: 4px solid var(--c-buttonoutline);
}

.button:before {
    border: 4px solid color-mix(in srgb, var(--c-button) 30%, #fff);
    border-top: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
}

@media (hover: hover) {
    .button:hover {
        background-color: color-mix(in srgb, var(--c-button) 60%, #fff);
    }
}

.button:active {
    transform: translatey(4px);
}

.closeButton,
.closeButton:hover {
    background: var(--c-modalcopy);
    display: block;
    border: none;
    color: var(--c-modal);
    font-family: var(--f-regular);
    font-size: 16px;
    height: 30px;
    line-height: 1;
    padding: 0;
    width: 30px;
}

.colorgreen {
    background-color: var(--c-green);
}

.coloryellow {
    background-color: var(--c-yellow);
}

.colorred {
    background-color: var(--c-red);
    color: #fff;
}

.colorblue {
    background-color: var(--c-blue);
    color: #fff;
}

.fontBold {
    font-family: var(--f-bold);
}

label {
    cursor: pointer;
    display: block;
}

.photoGrid {
    padding: 0 0 19em;
    display: grid;
    column-gap: 0.4em;
    row-gap: 1em;
}

.mainMessage {
    color: var(--c-messagecopy);
    font-family: var(--f-bold);
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
@media (min-width: 1280px) {
    body {
        padding: 40px 20px;
    }

    .mainMessage {
        height: 100%;
    }

    .photoGrid {
        padding: 0 0 6em;
        column-gap: 1em;
    }
}

.pixel-checkbox {
    display: block;
    cursor: pointer;
}

.pixel-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.pixel-checkbox span {
    background-color: var(--c-inputback);
    border: 2px solid var(--c-inputoutline);
    display: inline-block;
    height: 18px;
    margin-right: 0.5em;
    position: relative;
    vertical-align: middle;
    width: 18px;
}

.pixel-checkbox input:checked ~ span:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 1px;
    width: 4px;
    height: 10px;
    border: solid var(--c-inputcolor);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.pixel-checkbox input:disabled ~ span {
    cursor: not-allowed;
    background-color: color-mix(in srgb, var(--c-inputback) 50%, #000);
    border-color: color-mix(in srgb, var(--c-inputoutline) 50%, #000);
}

.modal-open {
    overflow: hidden;
}
