:root {
    /* main ui */
    --c-copy: #171717;
    --c-messagecopy: #4b4b4b;
    --c-background: #cfcfcf;
    --c-button: #aaa;
    --c-canvasoutlinelight: color-mix(in srgb, var(--c-background) 60%, #fff);
    --c-canvasoutlinedark: color-mix(in srgb, var(--c-background) 80%, #000);

    /* modal */
    --c-modal: #aaa;
    --c-modalcopy: var(--c-copy);

    /* toobar colors */
    --c-green: #169e78;
    --c-yellow: #f4c901;
    --c-red: #c20000;
    --c-blue: #2c51ac;

    /* fonts */
    --f-regular: 'DogicaPixel', sans-serif;
    --f-bold: 'DogicaPixelBold', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --c-background: #1f1f1f;
        --c-canvasoutlinelight: color-mix(in srgb, var(--c-background) 90%, #fff);
        --c-canvasoutlinedark: color-mix(in srgb, var(--c-background) 50%, #000);
    }
}

@font-face {
    font-family: 'DogicaPixel';
    src: url('../assets/fonts/dogicapixel.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DogicaPixelBold';
    src: url('../assets/fonts/dogicapixelbold.woff2') format('woff2');
    font-weight: 800;
    font-style: bold;
    font-display: swap;
}

body {
    background-color: var(--c-background);
    color: var(--c-copy);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
    padding: 20px 10px;
    font-family: var(--f-regular);
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
}

div {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: var(--f-bold);
}

select {
    border: 2px solid var(--c-copy);
    font-size: inherit;
    font-family: var(--f-regular);
    padding: 0.5em;
    width: 100%;
}

button {
    box-sizing: border-box;
    color: var(--c-copy);
    cursor: pointer;
    font-size: inherit;
    font-family: var(--f-regular);
}

.colorgreen {
    background-color: var(--c-green);
}

.coloryellow {
    background-color: var(--c-yellow);
    color: color-mix(in srgb, var(--c-yellow) 10%, #000);
}

.colorred {
    background-color: var(--c-red);
}

.colorblue {
    background-color: var(--c-blue);
}

.fontBold {
    font-family: var(--f-bold);
}

button {
    height: 3.5em;
    padding: 0.8em;
    width: 100%;
}

button {
    background-color: var(--c-button);
    border-style: solid;
    border-width: 4px;
    border-color: color-mix(in srgb, var(--c-button) 40%, #fff)
        color-mix(in srgb, var(--c-button) 10%, #000) color-mix(in srgb, var(--c-button) 10%, #000)
        color-mix(in srgb, var(--c-button) 40%, #fff);
    display: block;
}

button:hover {
    background-color: color-mix(in srgb, var(--c-button) 60%, #fff);
}

button:active {
    border-color: color-mix(in srgb, var(--c-button) 10%, #000)
        color-mix(in srgb, var(--c-button) 40%, #fff) color-mix(in srgb, var(--c-button) 40%, #fff)
        color-mix(in srgb, var(--c-button) 10%, #000);
}

label {
    cursor: pointer;
    display: block;
}

.photoGrid {
    padding: 0 0 240px;
    display: grid;
    gap: 10px;
}

.mainMessage {
    color: var(--c-messagecopy);
    font-family: var(--f-bold);
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.closeButton,
.closeButton:hover {
    background: var(--c-modalcopy);
    display: block;
    border: none;
    color: var(--c-modal);
    font-family: var(--f-regular);
    font-size: 1.8em;
    height: 1.3em;
    line-height: 1;
    padding: 0;
    width: 1.3em;
}

@media (min-width: 1280px) {
    body {
        padding: 40px 20px;
    }

    .mainMessage {
        height: 100%;
    }

    .photoGrid {
        padding: 0 0 40px;
        gap: 20px;
    }
}
