.editWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    max-width: 56em;
}

.photo {
    height: auto;
    flex-grow: 1;
    margin: 0 0 0.5em;
    min-height: 0;
    touch-action: none;
}

.photo button {
    margin: 0 auto;
    max-width: 13em;
}

.controls {
    display: flex;
    flex-direction: column;
}

.select,
.slider {
    margin: 0.5em 0 1em 0;
    display: block;
    width: 100%;
}

.scale canvas {
    height: 100% !important;
    margin-bottom: 2em;
    width: 100% !important;
}

@media (min-width: 1280px) {
    .editWrapper {
        flex-direction: row;
    }

    .photo {
        max-width: 40em;
    }

    .controls {
        flex-basis: 200px;
        flex-shrink: 0;
        margin-left: 2em;
        padding-top: 0;
    }
}
