.fileLoader {
    position: relative;
}

.fileLoader input {
    display: none;
}

.fileLoader button:not(.remove) {
    padding-right: 50px !important;
    text-align: left;
}

.fileLoader .remove {
    background: var(--c-buttonoutline);
    color: var(--c-white);
    display: none;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}
