.fileLoader {
    position: relative;
}

.fileLoader input {
    display: none;
}

.fileLoader button:not(.remove) {
    padding-right: 50px !important;
    text-align: left;
}

.fileLoader .remove {
    display: none;
    position: absolute;
    right: 0.3em;
    top: 0.3em;
}
