.modalwrapper {
    display: none;
    height: 100vh;
    left: 0;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.modal {
    background: var(--c-black);
    bottom: 256px;
    height: 100%;
    padding: 0.4em 2em;
    width: 100%;
}

.modalscroll {
    overflow: auto;
}

.modal .close {
    position: absolute;
    right: 2em;
    top: 2em;
    width: auto;
}
