.modalwrapper {
    color: var(--c-modalcopy);
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    left: 0;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.modal {
    background: var(--c-modal);
    box-shadow: inset 0 0 0 8px var(--c-modalcopy);
    border: 1.5em solid var(--c-modal);
    position: relative;
    margin: 0 auto;
    padding: 3em 2em;
    width: 100%;
}

.modal h2 {
    background: var(--c-modal);
    display: inline-block;
    font-size: 16px;
    left: 1em;
    padding: 0 0.5em;
    position: absolute;
    top: -1em;
}

.modal.small {
    max-width: 500px;
}

.modal .close {
    box-shadow: 0 0 0 0.4em var(--c-modal);
    position: absolute;
    right: -0.5em;
    top: -0.5em;
    z-index: 4;
}

.modalscroll {
    overflow: auto;
}
