.modal {
    background: rgba(0, 0, 0, 0.92);
    backdrop-filter: blur(6px);
    border-radius: var(--b-radius-2);
    box-sizing: border-box;
    bottom: 256px;
    display: none;
    height: calc(100vh - 20px);
    left: 0;
    margin: 10px;
    padding: 10px 40px 40px;
    position: fixed;
    top: 0;
    width: calc(100% - 20px);
    z-index: 3;
}

.modalscroll {
    overflow: auto;
}

.modal .close {
    position: absolute;
    right: 16px;
    top: 16px;
    width: auto;
}

@media (min-width: 1280px) {
    .modal {
        bottom: 76px;
    }
}
