.modalwrapper {
    color: var(--c-black);
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    left: 0;
    padding: 2em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.modal {
    background: var(--c-gray);
    border: 8px solid var(--c-black);
    position: relative;
    margin: 0 auto;
    padding: 0.4em 2em 2em;
    width: 100%;
}

.modal.small {
    max-width: 300px;
}

.modalscroll {
    overflow: auto;
}

.modal .close,
.modal .close:hover {
    background: var(--c-black);
    color: var(--c-white);
    position: absolute;
    right: 1em;
    top: 1em;
    width: auto;
}
