.modal {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 40px;
    display: none;
    height: 60vh;
    left: 0;
    margin: 10vh auto;
    padding: 40px;
    position: fixed;
    right: 0;
    top: 0;
    width: 60vw;
    z-index: 2;
}