.montagetoolbar {
    bottom: 16.5em;
    left: 0;
    position: fixed;
    width: 100%;
}

.montagetoolbar button {
    border: none;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
}

@media (min-width: 1280px) {
    .montagetoolbar {
        bottom: 5.7em;
    }
}
