.montagetoolbar {
    bottom: 16.5em;
    left: 0;
    position: fixed;
}

.mainbutton {
    border: none;
    border-right: 2px solid var(--c-white);
    border-top: 2px solid var(--c-white);
}

.close {
    background: var(--c-black);
    border: 2px solid var(--c-white);
    color: var(--c-white);
    position: absolute;
    right: 0;
    top: 0;
}

.close:hover {
    background: var(--c-black);
    border: 2px solid var(--c-white);
    color: var(--c-white);
}

@media (min-width: 1280px) {
    .montagetoolbar {
        bottom: 5.7em;
    }
}
