.dropdownContainer {
    display: grid;
    gap: 0.4em;
    grid-template-columns: auto auto;
}

.swatchContainer {
    border: 2px solid var(--c-modalcopy);
    display: flex;
    height: 1.4em;
    margin: 0 auto 0.5em;
    vertical-align: middle;
    width: 5em;
}

.swatchContainer.selected {
    border-color: color-mix(in srgb, var(--c-modalcopy) 10%, #fff);
}

.swatchContainer:hover,
.swatchContainer:active {
    border-color: color-mix(in srgb, var(--c-modalcopy) 40%, var(--c-white));
}

.swatchColorBlock {
    height: 100%;
    width: 25%;
}

.radioInput {
    display: none;
}

.label {
    display: block;
    margin: 4px;
    cursor: pointer;
    text-align: center;
}

@media (min-width: 700px) {
    .dropdownContainer {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}

@media (min-width: 900px) {
    .dropdownContainer {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }
}

@media (min-width: 1280px) {
    .dropdownContainer {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
    }
}
