.dropdownContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}

.swatchContainer {
    border: 2px solid var(--c-black);
    display: flex;
    height: 20px;
    margin: 0 auto 2px auto;
    overflow: hidden;
    vertical-align: middle;
    width: 80px;
}

.swatchContainer:hover,
.swatchContainer:active {
    border-color: var(--c-lightgray);
}

.swatchColorBlock {
    width: 25%;
    height: 100%;
}

.radioInput {
    display: none;
}

.label {
    display: block;
    margin: 4px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
}
