.dropdownContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    margin: 10px 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px solid #444;
    border-radius: var(--b-radius-2);
    bottom: 66px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 10;
}

.swatchContainer {
    width: 100px;
    height: 24px;
    margin: 0 auto 5px auto;
    vertical-align: middle;
    overflow: hidden;
    border-radius: var(--b-radius-1);
    display: flex;
}

.swatchColorBlock {
    width: 25%;
    height: 100%;
}

.radioInput {
    display: none;
}

.label {
    display: block;
    margin: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.button {
    color: var(--c-white);
    cursor: pointer;
    border: 2px solid var(--c-white);
    border-radius: var(--b-radius-1);
    background-color: transparent;
    font-family: sans-serif;
    font-size: 14px;
    float: left;
    margin: 10px;
    padding: 13px;
    width: 150px
}