.dropdownContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    margin: 10px 0;
    padding: 5px;
}

.swatchContainer {
    border: 2px solid var(--c-black);
    display: flex;
    height: 24px;
    margin: 0 auto 5px auto;
    overflow: hidden;
    vertical-align: middle;
    width: 100px;
}

.swatchContainer:hover {
    border-color: var(--c-gray);
}

.swatchColorBlock {
    width: 25%;
    height: 100%;
}

.radioInput {
    display: none;
}

.label {
    display: block;
    margin: 5px;
    cursor: pointer;
    color: var(--c-white);
    font-size: 12px;
    text-align: center;
}
