.photo {
    padding: 0 0 20px;
    text-align: center;
}

.canvas {
    display: block;
    margin: 0;
}

.canvasContainer {
    border-style: solid;
    border-width: 2px;
    border-color: var(--c-black) var(--c-darkgray) var(--c-darkgray) var(--c-black);
    display: inline-block;
    margin: 0 auto 10px;
}

.exportButton {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    width: 100%;
}
