.photo {
    padding: 0 0 20px;
    text-align: center;
}

.canvas {
    display: block;
    margin: 0;
}

.canvasContainer {
    border-style: solid;
    border-width: 2px;
    border-color: var(--c-canvasoutlinedark) var(--c-canvasoutlinelight) var(--c-canvasoutlinelight)
        var(--c-canvasoutlinedark);
    display: inline-block;
    margin: 0 auto 10px;
}

.photo button {
    margin: 0 auto;
    max-width: 200px;
    width: 100%;
}

:global(.scale1) .photo button span {
    display: none;
}
