.phototile {
    padding: 0 0 20px;
    text-align: center;
}

.canvasContainer {
    background: none;
    border-style: solid;
    border-width: 2px;
    border-color: var(--c-canvasoutlinedark) var(--c-canvasoutlinelight) var(--c-canvasoutlinelight)
        var(--c-canvasoutlinedark);
    display: inline-block;
    margin: 0 auto 10px;
    position: relative;
}

.phototile :global(.button) {
    margin: 0.5em;
    max-width: 200px;
    width: 100%;
}

.deleted {
    background: var(--c-red);
    border: 2px solid var(--c-white);
    color: var(--c-white);
    padding: 0.2em;
    position: absolute;
    right: 0.4em;
    top: 0.3em;
}

.phototile label {
    margin-top: 0.5em;
    font-size: 8px;
}

.phototile label span {
    margin: 0;
}
