.photo {
    padding: 0 0 20px;
    text-align: center;
}

.canvas {
    display: block;
    margin: 0;
}

.canvasContainer {
    background: none;
    border-style: solid;
    border-width: 2px;
    border-color: var(--c-canvasoutlinedark) var(--c-canvasoutlinelight) var(--c-canvasoutlinelight)
        var(--c-canvasoutlinedark);
    display: inline-block;
    margin: 0 auto 10px;
    position: relative;
}

.scale {
    height: 100%;
}

.scale .canvas {
    object-fit: contain;
    padding: 0 !important;
    height: 100% !important;
    width: 100% !important;
}

.photo :global(.button) {
    margin: 0 auto;
    max-width: 200px;
    width: 100%;
}

.deleted {
    background: var(--c-red);
    border: 2px solid #fff;
    color: #fff;
    padding: 0.2em;
    position: absolute;
    right: 0;
    bottom: -3.1em;
}

.controls :global(.button),
.controls label {
    display: inline-block;
}

.controls :global(.button) {
    margin-right: 1.5em;
}

.controls label span {
    margin: 0;
}

:global(.scale1) .photo :global(.button) span {
    display: none;
}

:global(.scale1) .photo :global(.button) {
    max-width: 7em;
    margin-right: 1em;
}
