.toolbar {
    background: var(--c-green);
    bottom: 1em;
    box-sizing: border-box;
    color: var(--c-white);
    left: 1em;
    padding: 1em;
    position: fixed;
    width: calc(100% - 2em);
    z-index: 2;
}

.toolbaritem {
    display: block;
    margin: 0 0 1em;
    width: 100%;
}

.settingsbutton {
    float: right;
    margin-top: 2px;
    width: auto;
}

.logo {
    color: var(--c-white);
    float: left;
    font-weight: bold;
    line-height: 3.5em;
}

@media (min-width: 1280px) {
    .toolbar .toolbaritem {
        display: block;
        float: left;
        margin: 0 1em 0 0;
        max-width: 19em;
    }

    .logo {
        float: right;
        margin-right: 2em;
    }
}
