.toolbar {
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    padding: 1em;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.toolbar:before,
.toolbar:after {
    opacity: 0.5;
    content: '';
    display: block;
    height: 4px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
}

.toolbar:before {
    background: var(--c-white);
    top: 0;
}

.toolbar:after {
    background: var(--c-black);
    bottom: 0;
}

.toolbaritem {
    display: block;
    margin: 0 0 0.5em;
    width: 100%;
}

.settingsbutton {
    float: right;
    margin: 0 10px;
    width: auto;
}

.settingsbutton button,
.settingsbutton button:hover {
    background: none;
    border: none;
    color: inherit;
    display: inline-block;
    font-size: 40px;
    height: 1em;
    line-height: 1.1;
    padding: 0;
}

.logo {
    float: left;
    line-height: 2.5em;
}

.imageCount {
    background: var(--c-gray);
    border: 2px solid var(--c-white);
    border-bottom: none;
    border-right: none;
    height: 2em;
    right: 0;
    color: var(--c-white);
    padding: 0.5em;
    position: absolute;
    top: -2em;
}

@media (min-width: 1280px) {
    .toolbar .toolbaritem {
        display: block;
        float: left;
        margin: 0 1em 0 0;
        max-width: 340px;
        width: auto;
    }

    .logo {
        font-size: 24px;
        float: right;
        margin-right: 1em;
    }

    .settingsbutton {
        margin-top: 0.5em;
    }
}
