.toolbar {
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    padding: 1em;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.toolbaritem {
    display: block;
    margin: 0 0 0.5em;
    width: 100%;
}

.settingsbutton {
    float: right;
    margin: 0 10px;
    width: auto;
}

.settingsbutton button {
    color: inherit;
    display: inline-block;
    font-size: 40px;
    height: 1em;
    line-height: 1;
}

.logo {
    float: left;
    font-size: 20px;
    line-height: 2.2em;
}

@media (min-width: 1280px) {
    .toolbar .toolbaritem {
        display: block;
        float: left;
        margin: 0 1em 0 0;
        max-width: 340px;
        width: auto;
    }

    .logo {
        float: right;
        margin-right: 1em;
        margin-top: 2px;
    }

    .settingsbutton {
        margin-top: 2px;
    }
}
