.toolbar {
    background: var(--c-green-t);
    border-radius: var(--b-radius-2);
    bottom: 1em;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: var(--c-white);
    left: 1em;
    padding: 1em;
    position: fixed;
    width: calc(100% - 2em);
    z-index: 2;
}

.blur {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 18em;
    z-index: 1;
    mask: linear-gradient(to bottom, transparent, white 10%);
    backdrop-filter: blur(5px);
}

.toolbaritem {
    display: block;
    margin: 0 0 1em;
    width: 100%;
}

.settingsbutton {
    float: right;
    width: auto;
}

.logo {
    color: var(--c-white);
    float: left;
    font-weight: bold;
    line-height: 3em;
}

@media (min-width: 1280px) {
    .toolbar .toolbaritem {
        display: block;
        float: left;
        margin: 0 1em 0 0;
        max-width: 19em;
    }

    .logo {
        float: right;
        margin-right: 2em;
    }

    .blur {
        height: 6em;
    }
}
