.toolbar {
    background: #169e78;
    bottom: 10px;
    border-radius: var(--b-radius-2);
    box-sizing: border-box;
    color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    left: 10px;
    position: fixed;
    width: calc(100% - 20px);
    z-index: 2;
}

.blur {
    background: rgba(255,255,255,0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: 1;
    mask: linear-gradient(to bottom, transparent, white 90%);
    backdrop-filter: blur(5px);
}

.select {
    margin: 12px 0 0 10px; 
    padding: 10px 20px 10px 5px;
}

.logo {
    float: right;
    margin: 23px 40px 0;
    font-weight: bold;
    color: #fff;
}

