.closeButton,
.closeButton:hover {
    background: var(--c-modalcopy);
    display: block;
    border: none;
    color: var(--c-modal);
    font-family: var(--f-regular);
    font-size: 16px;
    height: 30px;
    line-height: 1;
    padding: 0;
    width: 30px;
}

/*
button + .closeButton,
button + .closeButton:hover {
    background: var(--c-buttonoutline);
    color: var(--c-white);
    position: absolute;
    right: 0.8em;
    top: 0.5em;
}
    */
