.closeButton,
.closeButton:hover {
    background: var(--c-modalcopy);
    display: block;
    border: none;
    color: var(--c-modal);
    font-family: var(--f-regular);
    font-weight: 400;
    font-size: 16px;
    height: 30px;
    line-height: 1;
    padding: 0;
    width: 30px;
}

.dark,
.dark:hover {
    background: var(--c-black);
    color: var(--c-white);
}
