/* palette toolbar button */
.paletteicon {
    border: 2px solid var(--c-black);
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 1.9em;
    margin-top: 2px;
    position: absolute;
    right: 0.5em;
    top: 0.1em;
    width: 1.9em;
}

/* section divider */
.section {
    background: color-mix(in srgb, var(--c-modalcopy) 5%, transparent);
    padding: 1em;
}

/* preset section */
.presetContainer {
    display: grid;
    gap: 0.4em;
    grid-template-columns: auto auto;
    @media (min-width: 700px) {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    @media (min-width: 900px) {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }
    @media (min-width: 1280px) {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
    }
}

.randombutton {
    margin: 1em auto 0;
}

/* custom section */
.custom {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    padding: 0.5em;
}

.mobileColorSwatches {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.custom .swatchColorBlock {
    border: 2px solid var(--c-modalcopy);
    cursor: pointer;
    height: 3em;
    width: 3em;
    @media (min-width: 1280px) {
        height: 2em;
        width: 2em;
    }
}

.custom .swatchColorBlock.activeSwatch {
    border: 2px solid var(--c-white);
}

.customColorRow {
    background: rgba(255, 255, 255, 0.05);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 0.5em;
    padding: 1em;
    @media (min-width: 1280px) {
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }
}

.customColorRow input[type='range'] {
    cursor: pointer;
    flex: 1;
}

.rgbStepperContainer {
    display: flex;
    justify-content: space-between;
}

.rgbValues {
    display: flex;
    gap: 0.5em;
    min-width: 200px;
    line-height: 2.5em;
}

.activeRow {
    @media (min-width: 1280px) {
        background: rgba(255, 255, 255, 0.1);
    }
}

.stepper {
    display: flex;
    gap: 4px;
}

.stepper button {
    padding: 0 0 0.4em;
    height: 2.5em;
    width: 2em;
}

.quickPicker {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-top: 1.5em;
    @media (min-width: 1280px) {
        grid-template-columns: repeat(20, 1fr);
    }
}

.quickSwatch {
    aspect-ratio: 1;
    border: 2px solid var(--c-black);
    cursor: pointer;
    height: 2.4em;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 2.4em;
}

.quickSwatch:after {
    background: var(--c-white);
    content: '';
    display: block;
    height: 90%;
    left: 5%;
    top: 5%;
    opacity: 0.6;
    position: absolute;
    width: 8%;
}

.quickSwatch:hover {
    border-color: var(--c-white);
}
